# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.env
.venv

# Streamlit
.streamlit/secrets.toml

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Data
data/raw/
*.csv
*.xlsx
!data/sample/

# Logs
*.log
logs/

# Data
data/collected_data.json

# AWS key
yjo-ls-server.pem

# snapshots folder
snapshots

# setting file
cleanup_and_restart.sh
deploy.sh